{% for item in rss_items %}
    <p class="text-sm sm:text-base md:text-sm lg:text-base font-normal">
        <span class="font-bold">{{ item.author }}</span>
        {% if item.label == 'idea' %}
            <span class="icon-idea"></span>
        {% endif %}
        <span class="text-sm font-serif">
            [{% if item.created_at.date() == today %}
                {{ item.created_at.strftime('%H:%M') }}
            {% else %}
                {{ item.created_at.strftime('%m-%d %H:%M') }}
            {% endif %}]:
        </span>
        {{ item.content | safe }}
    </p>
{% endfor %}